@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Quicksand:wght@600;700&family=Roboto:wght@300;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow-y: scroll; overflow-x: hidden;
}

nav{
  width: 100%;
  height: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 2%;
  background: #FFFFFF;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  z-index: 100;
  position: fixed;
  }
  .logo {
  width: 3vw;
  height: 3vw;
  background-color: #2C3E50;
  border-radius: 1rem;
  cursor: pointer;
  }
  
  .tittle {
  font-size: 0.8rem;
  font-weight: 800;
  letter-spacing: 3px;
  margin-left: 2%;
  text-transform: uppercase;
  cursor: default;
  background-color: #2C3E50; 
  color: white; 
  padding: 2% 3%; 
  border-radius: 0.5rem;
  }
  
  .tittle2 {
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 3px;
  margin-left: 1%;
  cursor: default;
  text-transform: capitalize;
  }
  
  #welcome {
  font-size: 1rem;
  font-weight: 700;
  text-transform: capitalize;
  cursor: default;
  }
  
  .line {
  width: 3px;
  height: 3vw;
  background-color: #2C3E50;
  margin: 0 4%;
  }
  
  .logout {
  background-color: #2C3E50;
  padding: 0.4rem;
  border-radius: 0.7rem;
  cursor: pointer;
  transition: 0.25s;
  }

  .logout:hover {
    -webkit-transform: translateY(-0.10em);
    transform: translateY(-0.252m);
  }

#menu{
    width: 100vw;
    display: flex;
}

#sidebar{
  width: 17.5%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 2%;
  box-shadow: 0px 4px 3px 1px rgba(0, 0, 0, 0.05);
  position: fixed;
  z-index: 5;
}

#sidebar ul{
display: flex;
flex-direction: column;
margin-top: 27%;
padding: 0;
}

#sidebar ul li{
width: 100%;
height: 4vw;
display: flex;
align-items: center;
}

#sidebar ul li a{
width: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-left: 20%;
}
#sidebar ul li a .sec{
  font-weight: 400;
  font-size: 1rem;
  line-height: 22px;
  letter-spacing: 0.05em;
  height: 100%;
  padding-left: 7%;
  margin: 0;
  color: #444444;
}

#sidebar ul li a .sec.active {
font-weight: 600;
}

#sidebar ul li a .sec:hover{
    font-weight: 600;
  }

.box-icon{
    padding: 0.8vh;
    border-radius: 5px;
    background-color: white;
    color: black;
}

.box-icon.active {
  background-color: #2C3E50;
  color: white;
}
  
#content{
    width: 82.5%;
    margin: 5% 0 0 17.4%;
    background-color: #F5F5F5;
    padding: 50px 40px;
}

.title{
  font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-transform: capitalize;
}

.icon-utama {
  color: white; 
  background-color: #2C3E50; 
  padding: 1rem; 
  border-radius: 1rem;
}

.title-table {
  font-weight: 700; 
  margin: 0; 
  padding-left: 1%; 
  font-size: 1.5rem;
  text-transform: capitalize;
}

#table{
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    width: 100%;
    height: 36.5vw;
    padding: 2% 2.5%;
    margin-top: 2%;
}

table {
    text-align: center;
    width: 100%;
    border-top: 1px solid #DFDFDF;
    cursor: default;
  }

  .search{
    width: 350px;
    height: 30px;
    background: #EFF2F9;
    border-radius: 6px;
    border: none;
    outline: none;
    padding: 0 10px;
    font-family: 'Quicksand';;
font-weight: 500;
font-size: 12px;
line-height: 15px;
color: #393939;
}

.search::placeholder{
    
    position: relative;
    left: 7%;
font-weight: 500;
font-size: 12px;
line-height: 18px;
/* identical to box height */
letter-spacing: 0.05em;
color: rgba(0, 0, 0, 0.3);
}

  th {
    font-weight: 500;
    padding: 1%;
    margin-left: 5%;
    font-size: 0.9rem;
    text-transform: capitalize;
  }

  td {
    text-align: center;
    padding: 1%;
    font-weight: 400;
  }

  .btn-add {
    height: 4vh;
    border: none; 
    background-color: #2C3E50; 
    color: white; 
    padding: 0 1rem; 
    font-size: 0.8rem; 
    border-radius: 0.4rem;
    transition: 0.25s;
  }

  .btn-add:hover {
    -webkit-transform: translateY(-0.20em);
    transform: translateY(-0.252m);
  }

  .btn-submit {
    border: none; 
    background-color: #2C3E50; 
    color: white; 
    padding: 0.5rem 1.5rem; 
    font-size: 0.8rem; 
    border-radius: 0.4rem;
    transition: 0.25s;
    text-transform: capitalize;
    transition: 0.25s;
  }

  .btn-submit:hover {
    -webkit-transform: translateY(-0.10em);
    transform: translateY(-0.252m);
  }

  .icon-action {
    padding: 0.5rem;
    background-color: #2C3E50;
    border-radius: 0.8rem;
    cursor: pointer;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
  }

  .btn-action {
    border: none;
    background: none;
    transition: 0.25s;
  }

  .btn-action:hover {
    -webkit-transform: translateY(-0.10em);
    transform: translateY(-0.252m);
  }
  

  .detail {
    width: 10%;
    text-align: start;
  }

  .short {
    width: 5%;
  }

#form-add  {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s;
}

#from-add{
  width: 100%;
}

.rec-input {
  width: 95%;
  display: flex;
  flex-direction: column;
  margin-bottom: 3%;
}

.modal-body::-webkit-scrollbar {
  display: none;
}

.form-label {
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 500;
}

.option {
  text-transform: capitalize;
  font-size: 0.9rem;
}

.inputan {
  width: 100%;
  height: 5vh;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #7A7A7A;
  background-color: #F4F4F4;
}

input[type=text]:focus {
  box-shadow: 0 5px 5px -7px #333;
  border: 1px solid #2C3E50;
}

#alamat {
  width: 100%;
  height: 15vh;
  border: 1px solid #7A7A7A;
  background-color: #F4F4F4;
  padding: 1rem;
  border-radius: 1rem;
}

.identitas {
  font-size: 0.9rem;
  color: #BBBBBB;
  cursor: pointer;
  text-transform: capitalize;
  margin-right: 4%;
}

.identitas.active {
  font-size: 0.9rem;
  font-weight: 600;
  color: #444444;
  margin-right: 4%;
  text-transform: capitalize;
  cursor: pointer;
}

#slider,
#slideredit {
  display: flex;
  width: 225%;
  gap: 10%;
  transition: 0.7s;
}

.identitas:after {
  content: "";
  display: block;
  height: 2px;
  left: 0; 
  background: #444444;
  opacity: 0.6;
  transition: width 0.3s ease 0s, opacity 0.3s ease 0s;
  width: 0;
}

.identitas:hover:after {
  width: 100%;
  opacity: 0.9;
}

.akun {
  font-size: 0.9rem;
  color: #BBBBBB;
  cursor: pointer;
  text-transform: capitalize;
}

.akun.active{
  font-size: 0.9rem;
  font-weight: 600;
  color: #444444;
  margin-right: 4%;
  text-transform: capitalize;
  cursor: pointer;
}

.akun:after {
  content: "";
  display: block;
  height: 2px;
  left: 0;
  background: #444444;
  opacity: 0.6;
  transition: width 0.3s ease 0s, opacity 0.3s ease 0s;
  width: 0;
}

.akun:hover:after {
  width: 100%;
  opacity: 0.9;
}

.draganddrop {
  height: 36vh;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dashed #7A7A7A;
  background: #F4F4F4;
  border-radius: 1rem;
}

.draganddrop.active {
  border: 2px dashed #2C3E50;
}

.text-drop {
  font-size: 1rem;
  font-weight: 500;
  color: #6C7383;
  margin-top: 2%;
}

.text-drop2 {
  font-size: 0.6rem;
  font-weight: 400;
  color: #6C7383;
}

.btn-drag {
  width: 6vw;
  height: 4vh;
  color: white;
  border-radius: 0.5rem;
  font-size: 0.7rem;
  background: #2C3E50;
  cursor: pointer;
  z-index: 2;
}

input[type=file] {
  position: absolute;
  opacity: 0%;
  width: 90%;
  height: 48%;
  cursor: pointer;
}

#btn-line {
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

/* BARS */
.bar-circle {
  display: inline-block;
  margin: 0 20px;
  height: 15px;
  width: 15px;
  background: black;
  border-radius: 50%;
  border:3px solid #fff;    
  cursor: pointer;
  transition: all 0.3s;
}

.bar-circle.active {
  transform: scale(1.3);
  background: rgb(1, 192, 1);
  box-shadow: inset 0px 0px 40px rgba(1, 73, 0, 0.1);
}

.bar-circle.active.done {
  transition: all 1s;
  transform: scale(0);
  background: red;
  box-shadow: inset 0px 0px 40px rgba(1, 73, 0, 0.1);
}