/* css umum */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Quicksand:wght@600;700&family=Roboto:wght@300;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow-x: hidden;
    background: #f5f5f5;
}

nav{
  width: 100%;
  height: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 2%;
  background: #FFFFFF;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  z-index: 100;
  position: fixed;
}
.logo {
  width: 3vw;
  height: 3vw;
  background-color: #2C3E50;
  border-radius: 1rem;
  cursor: pointer;
}

.tittle {
  font-size: 0.8rem;
  font-weight: 800;
  letter-spacing: 3px;
  margin-left: 2%;
  text-transform: uppercase;
  cursor: default;
  background-color: #2C3E50; 
  color: white; 
  padding: 2% 3%; 
  border-radius: 0.5rem;
}

.tittle2 {
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 3px;
  margin-left: 1%;
  cursor: default;
  text-transform: capitalize;
}

#welcome {
  font-size: 1rem;
  font-weight: 700;
  text-transform: capitalize;
  cursor: default;
}

.line {
  width: 3px;
  height: 3vw;
  background-color: #2C3E50;
  margin: 0 4%;
}

.logout {
  background-color: #2C3E50;
  padding: 0.4rem;
  border-radius: 0.7rem;
  cursor: pointer;
}

#menu{
    width: 100vw;
    display: flex;
}

#sidebar{
    width: 17.5%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    box-shadow: 0px 4px 3px 1px rgba(0, 0, 0, 0.05);
    position: fixed;
    z-index: 5;
}

#sidebar ul{
  display: flex;
  flex-direction: column;
  margin-top: 27%;
  padding: 0;
}

#sidebar ul li{
  width: 100%;
  height: 4vw;
  display: flex;
  align-items: center;
}

#sidebar ul li a{
  width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 20%;
}

#sidebar ul li a .sec{
  font-weight: 400;
  font-size: 1rem;
  line-height: 22px;
  letter-spacing: 0.05em;
  height: 100%;
  padding-left: 7%;
  margin: 0;
  color: #444444;
}
#sidebar ul li a .sec:hover{
  font-weight: 600;
}


#sidebar ul li a .sec.active {
font-weight: 600;
}

.box-icon{
  padding: 0.8vh;
  border-radius: 5px;
  background-color: white;
  color: black;
}

.box-icon.active {
  background-color: #2C3E50;
  color: white;
}

#content{
    width: 82.5%;
    height: fit-content;
    margin: 5% 0 0 17.4%;
    padding: 50px 40px;
	  overflow: auto;
    border: none;
    background-color: #F5F5F5;
}

#content-berita{
  width: 100%;
  height: max-content;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  margin-top: 2%;
}
/* end css umum */

.icon-utama {
  color: white; 
  background-color: #2C3E50; 
  padding: 1rem; 
  border-radius: 1rem;
}

.title-table {
  font-weight: 700; 
  margin: 0; 
  padding-left: 1%; 
  font-size: 1.5rem;
  text-transform: capitalize;
}

.text-child {
  font-size: 1rem;
  color: #BDBDBD;
  font-weight: 500;
}

.left-side,
.right-side {
  width: 50%; 
  padding: 2rem 1rem; 
  display: flex; 
  flex-direction: column; 
  align-items: center;
}

.isi-berita {
  padding: 2rem;
}

.btn-landingpage {
  display: flex; 
  justify-content: right;  
  padding: 2rem;
}

.btn-add {
  border: none; 
  background-color: #2C3E50; 
  color: white; 
  padding: 0.8rem 1rem; 
  font-size: 0.8rem; 
  font-weight: 500;
  border-radius: 0.4rem;
  transition: 0.25s;
  text-transform: capitalize;
  cursor: pointer;
}

  .tittle-landingpage {
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 0%;
  }

  .image-landingpage {
    width: 90%;
    height: 35vh;
    background: black;
    margin: 1%;
    border-radius: 1rem;
  }

  .btn-form {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    background: #2C3E50;
    border: none;
    color: white;
    border-radius: 0.5rem;
    font-weight: 500;
    margin-left: 2%;
  }

  .description-landingpage {
    
  }

  .btn-go {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background: #2C3E50;
    border: none;
    color: white;
    border-radius: 0.5rem;
    font-weight: 500;
  }
  
.container {
  position: relative;
  width: 960px;
  transition: all 1s ease;
}

#filters {
  margin: 1%;
  padding: 0;
  list-style: none;
}

#filters li {
  float: left;
}

#filters li span {
  display: block;
  padding: 5px 20px;
  text-decoration: none;
  color: #666;
  cursor: pointer;
  transition: color 300ms ease-in-out;
  text-transform: capitalize;
}

#filters li span:hover {
  color: #2C3E50;
  font-weight: 500;
}

#filters li span.active {
  background: #ededed;
  color: #333;
}

#portfoliolist .portfolio {
  width: 49%;
  height: 40vh;
  margin: 0.5%;
  display: none;
  align-items: center;
  justify-content: center;
  float: left;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.25);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.portfolio-wrapper {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative ;
  cursor: pointer;
}

.portfolio img {
  max-width: 100%;
  position: relative;
  top: 0;
  -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}


/* #Tablet (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 768px;
  }
}


/*  #Mobile (Portrait) - Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
  .container {
    width: 95%;
  }
  #portfoliolist .portfolio {
    width: 48%;
    margin: 1%;
  }
  #ads {
    display: none;
  }
}

/* #Mobile (Landscape) - Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 70%;
  }
  #ads {
    display: none;
  }
}


/* #Clearing */


/* Self Clearing Goodness */

.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.row:after,
.clearfix:after {
  clear: both;
}

.row,
.clearfix {
  zoom: 1;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.rec-input {
  width: 95%;
  display: flex;
  flex-direction: column;
  margin-bottom: 3%;
}

.draganddrop {
  height: 36vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dashed #7A7A7A;
  background: #F4F4F4;
  border-radius: 1rem;
}

.draganddrop.active {
  border: 2px dashed #2C3E50;
}

.text-drop {
  font-size: 1rem;
  font-weight: 500;
  color: #6C7383;
  margin-top: 2%;
}

.text-drop2 {
  font-size: 0.6rem;
  font-weight: 400;
  color: #6C7383;
}

.btn-drag {
  width: 6vw;
  height: 4vh;
  color: white;
  border-radius: 0.5rem;
  font-size: 0.7rem;
  background: #2C3E50;
  cursor: pointer;
  z-index: 2;
}

input[type=file] {
  position: absolute;
  opacity: 0%;
  width: 35%;
  height: 35%;
  cursor: pointer;
}

#btn-line {
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.form-label {
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 500;
}

.inputan {
  width: 100%;
  height: 5vh;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #7A7A7A;
  background-color: #F4F4F4;
}

#deskripsi {
  width: 100%;
  height: 15vh;
  border: 1px solid #7A7A7A;
  background-color: #F4F4F4;
  padding: 1rem;
  border-radius: 1rem;
}



a {
	cursor: pointer;
}

.paper {
	max-width: 991px;
	width: 100%;
	background: #FBFBFB;
	border-radius: 8px;
	overflow: hidden;
}
.toolbar {
	padding: 16px;
	background: #eee;
}
.toolbar .head {
	display: flex;
	grid-gap: 10px;
	margin-bottom: 16px;
	flex-wrap: wrap;
}
.toolbar .head > input {
	max-width: 100px;
	padding: 6px 10px;
	border-radius: 6px;
	border: 2px solid #ddd;
	outline: none;
}
.toolbar .head select {
	background: #fff;
	border: 2px solid #ddd;
	border-radius: 6px;
	outline: none;
	cursor: pointer;
}
.toolbar .head .color {
	background: #fff;
	border: 2px solid #ddd;
	border-radius: 6px;
	outline: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	grid-gap: 6px;
	padding: 0 10px;
}
.toolbar .head .color span {
	font-size: 14px;
}
.toolbar .head .color input {
	border: none;
	padding: 0;
	width: 26px;
	height: 26px;
	background: #fff;
	cursor: pointer;
}
.toolbar .head .color input::-moz-color-swatch {
	width: 20px;
	height: 20px;
	border: none;
	border-radius: 50%;
}
.toolbar .btn-toolbar {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	grid-gap: 10px;
}
.toolbar .btn-toolbar button {
	background: #fff;
	border: 2px solid #ddd;
	border-radius: 6px;
	cursor: pointer;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
}
.toolbar .btn-toolbar button:hover {
	background: #f3f3f3;
}
#isi-berita {
	padding: 16px;
	outline: none;
	max-height: 50vh;
	overflow: auto;
}
#show-code[data-active="true"] {
	background: #eee;
}