/* css umum */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Quicksand:wght@600;700&family=Roboto:wght@300;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow-y: scroll; overflow-x: hidden;
}

::-webkit-scrollbar-thumb {
  background: #2C3E50;
  border-radius: 12px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #202e3b;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #FFFFFF;
}

nav{
    width: 100vw;
    height: 76px;
    display: flex;
    align-items: center;
    padding: 2% 3%;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    z-index: 100;
    position: relative;
}

.logo {
  width: 6vh;
  height: 6vh;
  background-color: #2C3E50;
  border-radius: 1rem;
  cursor: pointer;
}

.tittle {
  font-size: 0.8rem;
  font-weight: 800;
  letter-spacing: 3px;
  margin-left: 1%;
  text-transform: uppercase;
  cursor: default;
  background-color: #2C3E50; 
  color: white; 
  padding: 0.3% 1%; 
  border-radius: 0.5rem;
}

.tittle2 {
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 3px;
  margin: 0 63% 0 0.5%;
  cursor: default;
  text-transform: capitalize;
}

#welcome {
  font-size: 1rem;
  font-weight: 700;
  text-transform: capitalize;
  cursor: default;
}

.line {
  width: 0.2%;
  height: 3vw;
  background-color: #2C3E50;
  margin: 0 1%;
}

.logout {
  background-color: #2C3E50;
  padding: 0.4%;
  border-radius: 0.7rem;
  cursor: pointer;
}

#menu{
    width: 100vw;
    display: flex;
}

#sidebar{
    width: 17.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    padding-top: 20px;
    box-shadow: 0px 4px 3px 1px rgba(0, 0, 0, 0.05);
    position: relative;
    z-index: 100;
}

#sidebar ul{
    margin-top: 4%;
    width: 100%;
    list-style: none;
}

#sidebar ul li{
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
}

#sidebar ul li a .sec:hover{
  font-weight: 600;
}

#sidebar ul li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#sidebar ul li a .sec{
  font-weight: 400;
  font-size: 1rem;
  line-height: 22px;
  letter-spacing: 0.05em;
  height: 100%;
  padding-left: 7%;
  margin: 0;
  color: #444444;
}

#sidebar ul li a .sec.active {
font-weight: 600;
}

.box-icon{
  padding: 0.8vh;
  border-radius: 5px;
  background-color: white;
  color: black;
}

.box-icon.active {
background-color: #2C3E50;
}

#content{
    width: 82.5%;
    background-color: #F5F5F5;
    padding: 50px 40px;
}
/* end css umum */

.title-table {
    font-weight: 700; 
    margin: 0; 
    padding-left: 1%; 
    font-size: 1.5rem;
    text-transform: capitalize;
  }

  .btn-add {
    border: none; 
    background-color: #2C3E50; 
    color: white; 
    padding: 0 1rem; 
    font-size: 0.8rem; 
    border-radius: 0.4rem;
    transition: 0.25s;
    text-transform: capitalize;
    cursor: pointer;
  }

  .tittle-landingpage {
    text-transform: capitalize;
  }

  .image-landingpage {
    width: 80%;
    height: 30vh;
    background: black;
  }

  
              .container {
                position: relative;
                width: 960px;
                transition: all 1s ease;
              }
              
              #filters {
                margin: 1%;
                padding: 0;
                list-style: none;
              }
              
              #filters li {
                float: left;
              }
              
              #filters li span {
                display: block;
                padding: 5px 20px;
                text-decoration: none;
                color: #666;
                cursor: pointer;
                transition: color 300ms ease-in-out;
                text-transform: capitalize;
              }
              
              #filters li span:hover {
                color: #2C3E50;
                font-weight: 500;
              }
              
              #filters li span.active {
                background: #ededed;
                color: #333;
              }
              
              #portfoliolist .portfolio {
                width: 23%;
                margin: 1%;
                display: none;
                float: left;
                overflow: hidden;
              }
              
              .portfolio-wrapper {
                width: 150vw;
                height: 30vh;
                display: flex;
             
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                
                position: relative !important;
                cursor: pointer;
              }
              
              .portfolio img {
                max-width: 100%;
                position: relative;
                top: 0;
                -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
                transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
              }
              
              .portfolio .label {
                position: absolute;
                width: 100%;
                height: 40px;
                bottom: -40px;
                -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
                transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
              }
              
              .portfolio .label-bg {
                background: #222;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
              }
              
              .portfolio .label-text {
                color: #fff;
                position: relative;
                z-index: 500;
                padding: 5px 8px;
              }
              
              .portfolio .text-category {
                display: block;
                font-size: 9px;
              }
              
              .portfolio:hover .label {
                bottom: 0;
              }
              
              .portfolio:hover img {
                top: -30px;
              }
              
              
              /* #Tablet (Portrait) */
              
              @media only screen and (min-width: 768px) and (max-width: 959px) {
                .container {
                  width: 768px;
                }
              }
              
              
              /*  #Mobile (Portrait) - Note: Design for a width of 320px */
              
              @media only screen and (max-width: 767px) {
                .container {
                  width: 95%;
                }
                #portfoliolist .portfolio {
                  width: 48%;
                  margin: 1%;
                }
                #ads {
                  display: none;
                }
              }
              
              
              /* #Mobile (Landscape) - Note: Design for a width of 480px */
              
              @media only screen and (min-width: 480px) and (max-width: 767px) {
                .container {
                  width: 70%;
                }
                #ads {
                  display: none;
                }
              }
              
              
              /* #Clearing */
              
              
              /* Self Clearing Goodness */
              
              .container:after {
                content: "\0020";
                display: block;
                height: 0;
                clear: both;
                visibility: hidden;
              }
              
              .clearfix:before,
              .clearfix:after,
              .row:before,
              .row:after {
                content: '\0020';
                display: block;
                overflow: hidden;
                visibility: hidden;
                width: 0;
                height: 0;
              }
              
              .row:after,
              .clearfix:after {
                clear: both;
              }
              
              .row,
              .clearfix {
                zoom: 1;
              }
              
              .clear {
                clear: both;
                display: block;
                overflow: hidden;
                visibility: hidden;
                width: 0;
                height: 0;
              }