@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.sortBy a {
	text-decoration: none;
}

.sortBy a:hover {
	text-decoration: none;
	box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.19);
	color: black;
}

::-webkit-scrollbar {
    display: none;
}

#container {
    display: flex;
}

#containerSideBar {
	width: 25%;
	height: screen;
}

.iconFolder {
    color: whitesmoke;
}

#arrow1{
	position:absolute;
	left:85%;
    color: whitesmoke;
	top:30%;
}

#arrow2{
	position:absolute;
	left:85%;
	top:30%;
	display:none;
}

#nav:hover{
	color:#6C7383;
}

#sidebar {
	width: 20%;
	height: screen;
    position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.pageWrapper2 {
	padding: 0 5% 0 5%;
}

.logo {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.logoStarbhak {
	width: 20%;
	margin: 3% 0 0 2%;
}

.logoText {
	width: 28%;
	margin-top: 3%;
	font-weight: 500;
	font-size: 14px;
}

#dashboard {
	width: 100%;
	height: 7vh;
	display: flex;
	align-items: center;
	color: #6C7383;
	text-decoration-line: none;
	gap: 0.5rem;
	margin: 7% 0 3% 0;
	border-radius: 0.75rem;
}

#guru,
#matpel {
	width: 100%;
	height: 7vh;
	display: flex;
	align-items: center;
	color: #6C7383;
	text-decoration-line: none;
	gap: 0.5rem;
	margin: 2% 0 3% 0;
	border-radius: 0.75rem;
}

.dashboardLogo {
	margin-left: 1.5rem;
}

.dashboardText {
	font-weight: 400;
	font-size: 1rem;
    line-height: 1.75rem;
}

#folder {
	width: 93%;
	height: 39px;
	position: absolute;
	top: 23%;
	left: 7%;
}

.folderLogo {
	display: flex;
	align-items: center;
    background-color: #169FCF;
	width: 100%;
	height: 7vh;
    color: whitesmoke;
	border-radius: 0.75rem;
	bottom: -2%;
}

.folderText {
	font-weight: 500;
	font-size: 1rem;
    line-height: 1.75rem;
    color: whitesmoke;
	margin-left: 4%;
}

.btnAdd {
	display: flex;
	align-items: center;
	justify-content: center;
	--tw-text-opacity: 1;
	color: whitesmoke;
folder	font-weight: 500;
	cursor: pointer;
}

.line {
	width: 100%;
	height: 10%;
	background-color: black;
}

.addText {
	font-size: 1rem;
}

.navbarReal {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;	
}

.input {
	display: flex;
	align-items: center;
	width: 19%;
	height: 5vh;
	background-color: #FAFAFA;
	border-radius: 2rem;
	box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
	margin: -1% 67% 0 5%;
}

.searchLogo {
	margin-left: 5%;
	cursor: pointer;
}

.searchInput {
	width: 91%;
	height: 5vh;
	padding: 1% 2% 1% 5%;	
	border-radius: 2rem;
	--tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
	font-size: 0.8rem;
	background-color: #FAFAFA;
}

.profileDropDown {
	display: flex;
	align-items: center;
	justify-content: center;	
}

.logout{
    border: 1px solid black;
    width: 90%;
    height: 40px;
    font-size: 18px;
    border-radius: 20px;
}

#user{
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logoadmin{
    width: 60%;
}

#KotakUser{
    background-color:aliceblue;
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 5%;
    position: relative;
}

.file {
	width: 95%;
	padding: 3% 3% 5% 3%;
	height: 84vh;
	background-color: #e2efff;
	border-radius: 20px;
	margin-left: 0px;
	box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.sortBy {
	width: 100%;
	display: flex;
	gap: 1.25rem;
    margin-bottom: 4%;
}

.recFolder {
    display: flex;
    flex-direction: column;
    width: 25%;
	height: 23vh; 
	border-radius: 1.5rem;
	--tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
	box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.19);

}

.contentFolder {
    margin-top: 5%;
    margin-left: 5%;
}

.nama-file {
    font-size: 10px;
}

.recWord,
.recExcel,
.recPpt,
.recPdf {
	width: 25%;
	height: 16vh; 
	border-radius: 1.5rem;
	--tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
	display: flex;
	align-items: center;
	box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.19);
}

.wordContent,
.excelContent,
.pptContent,
.pdfContent {
	display: flex;
	margin-left: 1.5rem;
}

.wordLogo,
.excelLogo {
	width: 36%;
}

.pptLogo {
	width: 32%;
}

.pdfLogo {
	width: 35%;
}

.groupWordText,
.groupExcelText,
.groupPptText,
.groupPdfText {
	margin-left: 3%;
}

.wordText1,
.excelText1,
.pptText1,
.pdfText1 {
	padding-top: 13%;
	font-weight: 700;
	font-size: 1.25rem;
    line-height: 1.75rem;
}

.wordText2,
.excelText2,
.pptText2,
.pdfText2 {
	font-weight: 300;
	font-size: 0.875rem;
    line-height: 1.25rem
}

.lastUpload {
	margin-top: 3%;
}

.textLastUpload {
	font-size: 1.5rem;
    line-height: 2rem;
	font-weight: 600;
	margin-right: 77%;
}

.seeMore {
	display: flex;
	font-weight: 500;
}

.seeMoreText {
	font-size: 1rem;
    line-height: 1.75rem
}

.seeMoreIcon {
	margin-left: 0.25rem;
	margin-top: 0.25rem;
	color: black;
}

.lastUploadFile {
	width: 32%;
	height: 20vh;
	display: flex;
	align-items: center;
	background-color: white;
	border-radius: 20px; 
	box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.19);
}


.box-last{
	display: flex;
	width: 100%;
}

#last-update{
	display: flex;
	gap: 20px;
	margin-top: 2%;
}

.titik3{
	position: absolute;
	margin-left: 20%;
	margin-bottom: 5%;
}

.logoFile {
	width: 30%;
	margin-left: 1.5rem;
}

.fileText {
	margin: 5% 0 0 2%;
}

.fileLocation {
    font-size: 1.5rem/* 24px */;
    line-height: 2rem;
    font-weight: bold;
    margin-left: 1%;
    margin-bottom: 3%;
}

.fileText1 {
	width: 100%;
	font-weight: 700;
	font-size: 1.25rem;
    line-height: 1.5rem;
	margin: 0 0 0.25rem 0;
}

.fileText2 {
	font-weight: 300;
	font-weight: 300;
	font-size: 0.75rem;
    line-height: 1rem;
}

.sentuh:hover{
	color: black;
	text-decoration: none;
}

#add{
	position: absolute;
	bottom: 15%;
	display: flex;
	width: 91%;
	height: 7vh;
	background-color: #169FCF;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	height: 6vh;
}

@keyframes swing {
	0% {
		transform: rotate(0deg);
	}
	10% {
		transform: rotate(10deg);
	}
	30% {
		transform: rotate(0deg);
	}
	40% {
		transform: rotate(-10deg);
	}
	50% {
		transform: rotate(0deg);
	}
	60% {
		transform: rotate(5deg);
	}
	70% {
		transform: rotate(0deg);
	}
	80% {
		transform: rotate(-5deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes sonar {
	0% {
		transform: scale(0.9);
		opacity: 1;
	}
	100% {
		transform: scale(2);
		opacity: 0;
	}
}



.page-wrapper .sidebar-wrapper,
.sidebar-wrapper .sidebar-brand > a,
.sidebar-wrapper .sidebar-dropdown > a:after,
.sidebar-wrapper  .sidebar-dropdown .sidebar-submenu li a:before,
.sidebar-wrapper ul li a i,
.page-wrapper .page-content,

.sidebar-wrapper .sidebar-search .input-group-text,
.sidebar-wrapper  ul li a,
#show-sidebar,
#close-sidebar {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	
}

/*----------------page-wrapper----------------*/
.page-wrapper {
	height: 100vh;
}

.page-wrapper .theme {
	width: 40px;
	height: 40px;
	display: inline-block;
	border-radius: 4px;
	margin: 2px;
}

.page-wrapper .theme.chiller-theme {
	background: #1e2229;
}

.page-wrapper .chiller-theme .toggled {
	width: 100%;
	margin-top: 12%;
}

/*----------------toggeled sidebar----------------*/
.page-wrapper.toggled .sidebar-wrapper {
	left: 0px;
}

@media screen and (min-width: 768px) {
	.page-wrapper.toggled .page-content {
		padding-left: 300px;
	}
}

/*----------------show sidebar button----------------*/
#show-sidebar {
	position: fixed;
	left: 0;
	top: 10px;
	border-radius: 0 4px 4px 0px;
	width: 35px;
	transition-delay: 0.3s;
}

.page-wrapper.toggled #show-sidebar {
	left: -40px;
}

/*----------------sidebar-wrapper----------------*/

.sidebar-wrapper ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.sidebar-wrapper a {
	text-decoration: none;
}

/*----------------sidebar-content----------------*/
.sidebar-content {
	max-height: calc(100% - 30px);
	height: calc(100% - 30px);
	overflow-y: auto;
	position: relative;
}

.sidebar-content.desktop {
	overflow-y: hidden;
}

/*--------------------sidebar-brand----------------------*/
.sidebar-wrapper .sidebar-brand {
	padding: 10px 20px;
	display: flex;
	align-items: center;
}

.sidebar-wrapper .sidebar-brand > a {
	text-transform: uppercase;
	font-weight: bold;
	flex-grow: 1;
}

.sidebar-wrapper .sidebar-brand #close-sidebar {
	cursor: pointer;
	font-size: 20px;
}

/*--------------------sidebar-header----------------------*/
.sidebar-wrapper .sidebar-header {
	padding: 20px;
	overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic {
	float: left;
	width: 60px;
	padding: 2px;
	border-radius: 12px;
	margin-right: 15px;
	overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.sidebar-wrapper .sidebar-header .user-info {
	float: left;
}

.sidebar-wrapper .sidebar-header .user-info > span {
	display: block;
}

.sidebar-wrapper .sidebar-header .user-info .user-role {
	font-size: 12px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status {
	font-size: 11px;
	margin-top: 4px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status i {
	font-size: 8px;
	margin-right: 4px;
	color: #5cb85c;
}

/*-----------------------sidebar-search------------------------*/
.sidebar-wrapper .sidebar-search > div {
	padding: 10px 20px;
}

/*----------------------sidebar-menu-------------------------*/
.sidebar-wrapper  {
	padding-bottom: 10px;
}

.sidebar-wrapper  .header-menu span {
	font-weight: bold;
	font-size: 14px;
	padding: 15px 20px 5px 20px;
	display: inline-block;empty-cells: show;
}

.sidebar-wrapper  ul li a {
	display: inline-block;
	width: 100%;
	text-decoration: none;
	position: relative;
	padding: 8px 30px 8px 20px;
}

.sidebar-wrapper  ul li a i {
	margin-right: 10px;
	font-size: 12px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 4px;
}

.sidebar-wrapper  ul li a:hover > i::before {
	display: inline-block;
	animation: swing ease-in-out 0.5s 1 alternate;
}


.sidebar-wrapper  .sidebar-dropdown .sidebar-submenu ul {
	padding: 5px 0;
	font-size: 15px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 5px;
	width: 100%;
	border-radius: 12px;
}

.sidebar-wrapper  .sidebar-dropdown .sidebar-submenu li {
	border-radius: 12px;
	font-size: 15px;
	
	width: 93%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}
.sidebar-wrapper  .sidebar-dropdown .sidebar-submenu li a{
	background-color: white;
	height: 48px;
	border-radius: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.sidebar-wrapper  .sidebar-dropdown .sidebar-submenu li a p{
	font-size: 17px;
	margin-left: 2%;
	margin-top: 1%;
}





.sidebar-wrapper  ul li a span.label,
.sidebar-wrapper  ul li a span.badge {
	float: right;
	margin-top: 8px;
	margin-left: 5px;
}

.sidebar-wrapper  .sidebar-dropdown .sidebar-submenu li a .badge,
.sidebar-wrapper  .sidebar-dropdown .sidebar-submenu li a .label {
	float: right;
	margin-top: 0px;
}

.sidebar-wrapper  .sidebar-submenu {
	display: none;
}

.sidebar-wrapper  .sidebar-dropdown.active > a:after {
	transform: rotate(90deg);
	right: 17px;
}

/*--------------------------side-footer------------------------------*/
.sidebar-footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	display: flex;
}

.sidebar-footer > a {
	flex-grow: 1;
	text-align: center;
	height: 30px;
	line-height: 30px;
	position: relative;
}

.sidebar-footer > a .notification {
	position: absolute;
	top: 0;
}

.badge-sonar {
	display: inline-block;
	background: #980303;
	border-radius: 50%;
	height: 8px;
	width: 8px;
	position: absolute;
	top: 0;
}

.badge-sonar:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border: 2px solid #980303;
	opacity: 0;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	animation: sonar 1.5s infinite;
}

/*--------------------------page-content-----------------------------*/
.page-wrapper .page-content {
	display: inline-block;
	width: 100%;
	padding-left: 0px;
	padding-top: 20px;
}

.page-wrapper .page-content > div {
	padding: 20px 40px;
}

.page-wrapper .page-content {
	overflow-x: hidden;
}

/*------scroll bar---------------------*/
::-webkit-scrollbar {
	width: 5px;
	height: 7px;
}
::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}
::-webkit-scrollbar-thumb {
	background: #525965;
	border: 0px none #ffffff;
	border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
	background: #525965;
}
::-webkit-scrollbar-thumb:active {
	background: #525965;
}
::-webkit-scrollbar-track {
	background: transparent;
	border: 0px none #ffffff;
	border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
	background: transparent;
}
::-webkit-scrollbar-track:active {
	background: transparent;
}
::-webkit-scrollbar-corner {
	background: transparent;
}

/*-----------------------------chiller-theme-------------------------------------------------*/




.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
	border-color: transparent;
	box-shadow: none;
}

.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text,
.chiller-theme .sidebar-wrapper .sidebar-brand>a,
.chiller-theme .sidebar-wrapper  ul li a,
.chiller-theme .sidebar-footer>a {
	color: #818896;
}

.chiller-theme .sidebar-wrapper  ul li:hover>a,
.chiller-theme .sidebar-wrapper  .sidebar-dropdown.active>a,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info,
.chiller-theme .sidebar-wrapper .sidebar-brand>a:hover,
.chiller-theme .sidebar-footer>a:hover i {
	color: #b8bfce;
}

.page-wrapper.chiller-theme.toggled #close-sidebar {
	color: #bdbdbd;
}

.page-wrapper.chiller-theme.toggled #close-sidebar:hover {
	color: #ffffff;
}

.chiller-theme .sidebar-wrapper ul li:hover a i,
.chiller-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus+span,
.chiller-theme .sidebar-wrapper  .sidebar-dropdown.active a i {
	color: #16c7ff;
	text-shadow:0px 0px 10px rgba(22, 199, 255, 0.5);
}

.chiller-theme .sidebar-wrapper  ul li a i,
.chiller-theme .sidebar-wrapper  .sidebar-dropdown div,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
	background: #F1F1F1;
	border-radius: 15px;
	overflow: scroll;
	max-height: 50vh;
}

.chiller-theme .sidebar-wrapper  .header-menu span {
	color: #6c7b88;
}

.chiller-theme .sidebar-footer {
	background: #3a3f48;
	box-shadow: 0px -1px 5px #282c33;
	
}

.chiller-theme .sidebar-footer>a:first-child {
	border-left: none;
}

.chiller-theme .sidebar-footer>a:last-child {
	border-right: none;
}


