@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/imgcloud/gelombang 1.png');
}

a {
    text-decoration: none;
}

.content {
    width: 70%;
    height: 36vw;
    display: flex;
    align-items: center;
    background-color: white;
    background-image: url('../../assets/imgcloud/sekolah-tb2.png');
    display: flex;
    align-items: right;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.left-side {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-logo {
    width: 20%;
}

.text-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
}

.input-userpw {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 10%;
}

.input-user,
.input-pw {
    position: relative;
    margin-top: 15%;
}

.input-pw {
    margin-top: 30%;
}

.logo-input-user {
    width: 2vw;
    height: 4vh;
    margin-left: 80%;
    background-color: #169FCF;
}

.login-text {
    font-size: 1.2rem;
}

.garis-1 {
    width: 20%;
    height: 3px;
    background-color: black;
}

.btn-login {
    background-color: #169FCF;
    border: none;
    width: 100%;
    height: 32px;
    color: whitesmoke;
    font-weight: 500;
    border-radius: 0.5rem;
    margin-top: 15%;
    cursor: pointer;
    -webkit-transition: 0.25;
    transition: 0.25s;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 10px, rgba(0, 0, 0, 0.07) 0px 5px 16px;
}

.btn-login:hover,
.btn-login:focus{
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 9px, rgba(0, 0, 0, 0.07) 0px 8px 10px;
    -webkit-transform: translateY(-0.25em);
    transform: translateY(-0.252m);
}

.btn-google {
    width: 100%;
    height: 40px;
    border: none;
    color: black;
    font-weight: 500;   
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-transition: 0.25;
    transition: 0.25s;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 10px, rgba(0, 0, 0, 0.07) 0px 5px 16px;
}

.btn-google:hover,
.btn-google:focus{
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 9px, rgba(0, 0, 0, 0.07) 0px 8px 10px;
    -webkit-transform: translateY(-0.25em);
    transform: translateY(-0.252m);
}

.img-sekolah {
    width: 90%;
    height: 76.3vh;
    border-radius: 30px;
}

.group-or {
    display: flex; 
    align-items: center; 
    justify-content: center
}

.form__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.5vh;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    border-radius: 0.5rem;
    font-size: inherit;
    background-color: rgb(252, 252, 252);
    color: black;
    outline: none;
    padding: 1.25rem;
}

.form__input:hover {
    border-color: #1da2d2;
}

.form__input:focus {
    border-color: #169FCF;
}

.form__label {
    position: absolute;
    left: 1rem;
    top: 0.6rem;
    padding: 0 0.5rem;
    cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    background-color:  rgb(250, 250, 250);
    color: #7D7D7D;
    border-radius: 0.3rem;
}

#mess{
    display: none;
    align-items: flex-end;
    flex-direction: column;
    position: absolute;
    right: 15.5%;
    top: 15px;
}

.message{
    width: max-content;
    height: 30px;
    background-color: #e74c3c;
    top: 25px;
    padding: 0 1vw;
    left: -188px;
    z-index: 1000;
    position: absolute;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: #fceae8;
    font-size: 0.9rem;
    font-weight: 500;
    opacity: 90%;
    display: none;
}

#seru {
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
    left: 50px;
    bottom: 5px;
}

.message:hover{
    cursor: default;
}

.boxEr{
    width: 15px;
    height: 15px;
    position: absolute;
    z-index: -100;
    left: 90.8%;
    bottom: 65%;
    background-color: #e74c3c;
    transform: rotate(45deg);
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
    top: -0.6rem;
    font-size: 0.8rem;
    left: 0.8rem;
    color: #7D7D7D;
    font-weight: 500;
}

.eye {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    top: 1%;
    right: 1%;
    background-color: rgb(252, 252, 252);
    width: 10%;
    height: 41%;
    cursor: pointer;
}

.text-or {
    margin: 4% 5%; 
    font-size: 0.9rem;
}

/* @media only screen and (min-height: 0px) and (max-height: 1000px) {
    .content {
        height: 2000vw;
    }
} */

@media only screen and (min-height: 894px) and (max-height: 898px) {
    .content {
        height: 80vw;
    }
}

@media only screen and (min-width: 200px) and (max-width: 308px) {
    body {
        width: 110%;
        height: 110vh;
        background-image: url('../../assets/imgcloud/gelombang 3.png');
    }

    .content {
        width: 60%;
        height: 90vw;
        background-image: none;
        justify-content: center;
        padding: 1rem;
    }

    .form__input {
        font-size: 0.4rem;
        width: 60%;
        padding: 0.7rem;
    }

    .img-logo {
        width: 20%;
    }

    .form__label {
        font-size: 0.4rem;
        left: 0.3rem;
        top: 0.4rem;
    }

    .form__input:focus ~ .form__label,
    .form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
        font-size: 0.3rem;
        top: -0.2rem;
        left: 0.4rem;
    }

    #seru {
        width: 7px;
        height: 7px;
        left: -50px;
        bottom: 8px;
    }

    .mess {
        width: 10px;
    }

    .message{
        top: 6px;
        left: -123px;
        font-size: 0.3rem;  
        width:90px;
        height:15px;
        border-radius:3px
    }

    .boxEr{
        width:10px;
        height:10px;
        left:80%;
        bottom:60%;
    }

    .btn-login {
        margin-top: 19%;
        width: 60%;
        height: 16px;
        font-size: 0.4rem;  
    }

    .btn-google {
        width: 60%;
        border-radius: 0.4rem;
        height: 18px;
        font-size: 0.4rem;
    }

    .google-logo {
        width: 10px;
        height: 10px;
    }

    .group-or {
        width: 60%;
    }

    .text-or {
        font-size: 0.4rem;
    }

    .input-userpw {
        margin: 0% 14%;
        width: 100%;
    }

    .input-user {
        margin-top: 6%;
    }

    .input-pw {
        margin-top: 24%;
    }

    .eye {
        top: 5%;
        right: 45%;
        width: 8px;
        height: 20px;
        border-radius: 0.1rem;
    }

    .login-text {
        font-size: 0.4rem;
    }

    .garis-1 {
        width: 9vh;
        height: 1px;
    }
}

@media only screen and (min-width: 309px) and (max-width: 409px) {
    body {
        width: 110%;
        height: 120vh;
        background-image: url('../../assets/imgcloud/gelombang 3.png');
    }

    .content {
        width: 76%;
        height: 120vw;
        background-image: none;
        justify-content: center;
    }

    .form__input {
        width: 65%;
        font-size: 0.6rem;
        padding: 1rem;
    }

    .img-logo {
        width: 17%;
    }

    .form__label {
        font-size: 0.6rem;
    }

    .form__input:focus ~ .form__label,
    .form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
        font-size: 0.5rem;
        top: -0.2rem;
    }

    .btn-login {
        margin-top: 19%;
        width: 65%;
        height: 25px;
        font-size: 0.5rem;  
    }

    .boxEr{
        width:10px;
        height:10px;
        left:85%;
        bottom:60%;
    }

    .btn-google {
        width: 65%;
        height: 30px;
        font-size: 0.5rem;
    }

    .google-logo {
        width: 15px;
        height: 15px;
    }

    .group-or {
        width: 65%;
        font-size: 0.5rem;
    }

    .text-or {
        font-size: 0.6rem;
    }

    .input-userpw {
        margin: 0% 14%;
        width: 100%;
    }

    .input-pw {
        margin-top: 33%;
    }

    .eye {
        top: 5%;
        right: 39%;
        width: 13px;
        height: 25px;
        border-radius: 0.1rem;
    }

    .login-text {
        font-size: 0.8rem;
    }

    .garis-1 {
        width: 9vh;
    }

    #seru {
        width: 12px;
        height: 12px;
        left: -55px;
        bottom: 5px;
    }
    
    #message {
        top: 15px;
        left: -159px;
        font-size: 0.4rem;  
        padding: 0 3vw;
        height:15px;
        border-radius:3px;
    }
}

@media only screen and (min-width: 410px) and (max-width: 649px) {  
    body {
        background-image: url('../../assets/imgcloud/gelombang-removebg-preview.png');
    }

    .content {
        width: 76%;
        height: 99vw;
        background-image: none;
        justify-content: center;
        align-items: center;
    }

    .input-userpw {
        width: 80%;
        margin-left: 10%;
    }

    .img-logo {
        width: 17%;
    }

    #seru {
        width: 15px;
        height: 15px;
        left: 28px;
        bottom: 5px;
    }

    .form__label {
        font-size: 0.90rem;
    }

    .form__input:focus ~ .form__label,
    .form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
    font-size: 0.75rem;
    }

    .btn-login {
        margin-top: 20%;
    }

    .input-pw {
        margin-top: 33%;
    }

    .garis-1 {
        width: 11vh;
    }

    .form__input {
        font-size: 0.8rem;
    }

    #message {
        width: 230px;
        left: -180px;
        top: 20px;
        font-size: 0.7rem;
    }
}

@media only screen and (min-width: 650px) and (max-width: 799px) {
    body {
        background-image: url('../../assets/imgcloud/gelombang 3.png');
    }

    .content {
        width: 70%;
        height: 73vw;
        background-image: none;
        display: flex;
        justify-content: center;
    }

    .input-userpw {
        padding: 0 15%;
    }

    .btn-login {
        margin-top: 16%;
    }

    .input-pw {
        margin-top: 32%;
    }

    .img-logo {
        width: 18%;
    }

    #message {
        left: -275px;
        font-size: 0.7rem;
        left: -126px;
    }
}

@media only screen and (min-width: 800px) and (max-width: 999px) {
    body {
        background-image: url('../../assets/imgcloud/gelombang 3.png');
    }

    .content {
        width: 78%;
        height: 61vw;
        background-image: none;
        display: flex;
        justify-content: center;
    }

    .img-logo {
        width: 19%;
    }

    #message {
        font-size: 0.8rem;
        left: -152px;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1199px) {
    body {
        background-image: url('../../assets/imgcloud/gelombang 3.png');
    }

    .content {
        width: 62%;
        height: 50vw;
        background-image: none;
        display: flex;
        justify-content: center;
    }

    .img-logo {
        width: 19%;
    }

    #seru {
        right: 0.5%;
    }

    #message {
        font-size: 0.8rem;
        left: -156px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1500px) {
    body {
        background-image: url('../../assets/imgcloud/gelombang 2.png');
    }

    .content {
        width: 59%;
        height: 42vw;
        background-image: none;
        display: flex;
        justify-content: center;
    }

    .img-logo {
        width: 19%;
    }

    #message {
        font-size: 0.8rem;
        left: -158px;
    }
}