
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/imgcloud/gelombanggg1.png');
}

.content {
    width: 70%;
    height: 36vw;
    display: flex;
    align-items: center;
    background-color: white;
    background-image: url('../../assets/imgcloud/sekolah-tb2.png');
    display: flex;
    align-items: right;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.left-side {
    position: absolute;
}

.img-logo {
    width: 20%;
}

.text-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 2% 2%;
}

.input-userpw {
    margin-left: 10%;
}

.input-user,
.input-pw {
    position: absolute;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 15%;

}

.logo-input-user {
    width: 2vw;
    height: 4vh;
    margin-left: 80%;
    background-color: #169FCF;
}

h4 {
    font-size: 21px;
}

hr {
    width: 13vh;
    height: 2px;
    background-color: black;
}

button {
    background-color: #169FCF;
    border: none;
    width: 47ch;
    height: 32px;
    color: whitesmoke;
    border-radius: 8px;
    margin-top: 15%;
    cursor: pointer;
    -webkit-transition: 0.25;
    transition: 0.25s;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 10px, rgba(0, 0, 0, 0.07) 0px 5px 16px;
}

.btn-login:hover,
.btn-login:focus{
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 9px, rgba(0, 0, 0, 0.07) 0px 8px 10px;
    -webkit-transform: translateY(-0.25em);
    transform: translateY(-0.252m);
}

.img-sekolah {
    width: 90%;
    height: 76.3vh;
    border-radius: 30px;
}

p {
    color: red;
    font-size: 14px;
}

.form__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 35ch;
    height: 0.5vh;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    border-radius: 0.5rem;
    font-size: inherit;
    background-color: rgb(252, 252, 252);
    color: black;
    outline: none;
    padding: 1.25rem;
}

.form__input:hover {
    border-color: #1da2d2;
}

.form__input:focus {
    border-color: #169FCF;
}

.form__label {
    position: absolute;
    left: 1rem;
    top: 0.6rem;
    padding: 0 0.5rem;
    cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    background-color:  rgb(250, 250, 250);
    color: #7D7D7D;
    border-radius: 0.3rem;
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
    top: -0.6rem;
    font-size: 0.8rem;
    left: 0.8rem;
    color: #7D7D7D;
    font-weight: 500;
}

@media only screen(min-width: 358px) and (max-width: 854px) {
    body {
        background-image: url('../../assets/imgcloud/gelombang-removebg-preview.png');
    }

    .content {
        height: 70vw;
        background-image: none;
        display: flex;
        justify-content: center;
    }

    .form__input {
        width: 30ch;
    }

    .img-logo {
        width: 22%;
    }

    button {
        width: 41ch;
        margin-top: 28%;
    }

    .input-userpw {
        margin-left: 0%;
    }

    .input-user,
    .input-pw {
        margin: auto;
        margin-top: 12%;
        margin-left: 11%;
    }
}

@media only screen and (min-width: 855px) and (max-width: 1074px) {
    body {
        background-image: url('../../assets/imgcloud/gelombanggg5.png');
    }

    .content {
        height: 60vw;
        background-image: none;
        display: flex;
        justify-content: center;
    }

    .form__input {
        width: 45ch;
    }

    .img-logo {
        width: 22%;
    }

    button {
        width: 59ch;
        margin-top: 13%;
    }

    .input-userpw {
        margin-left: 0%;
    }

    .input-user,
    .input-pw {
        margin: auto;
        margin-top: 14%;
    }
}

@media only screen and (min-width: 1075px) and (max-width: 1500px) {
    body {
        background-image: url('../../assets/imgcloud/gelombanggg3.png');
    }

    .content {
        height: 43vw;
        background-image: none;
        display: flex;
        justify-content: center;
    }

    .img-logo {
        width: 17%;
    }

    .form__input {
        width: 58ch;
    }

    button {
        width: 75ch;
        margin-top: 11%;
    }

    .input-userpw {
        margin-left: 0%;
    }

    .input-user,
    .input-pw {
        margin: auto;
        margin-top: 11%;
    }
}