@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/imgcloud/gelombang 1.png');
}

.content {
    width: 70%;
    height: 36vw;
    display: flex;
    align-items: center;
    background-color: white;
    background-image: url('../../assets/imgcloud/sekolah-tb2.png');
    display: flex;
    align-items: right;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.left-side {
    position: absolute;
}

.img-logo {
    width: 20%;
}

.text-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 2% 2%;
}

.input-userpw {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.input-user,
.input-pw {
    position: relative;
    margin-top: 15%;

}

.logo-input-user {
    width: 2vw;
    height: 4vh;
    margin-left: 80%;
    background-color: #169FCF;
}

h4 {
    font-size: 21px;
}

hr {
    width: 13vh;
    height: 2px;
    background-color: black;
}

button {
    background-color: #169FCF;
    border: none;
    width: 47ch;
    height: 32px;
    color: whitesmoke;
    border-radius: 8px;
    margin-top: 15%;
    cursor: pointer;
    -webkit-transition: 0.25;
    transition: 0.25s;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 10px, rgba(0, 0, 0, 0.07) 0px 5px 16px;
}

.btn-login:hover,
.btn-login:focus{
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 9px, rgba(0, 0, 0, 0.07) 0px 8px 10px;
    -webkit-transform: translateY(-0.25em);
    transform: translateY(-0.252m);
}

.img-sekolah {
    width: 90%;
    height: 76.3vh;
    border-radius: 30px;
}

p {
    color: red;
    font-size: 14px;
}

.form__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 78%;
    height: 0.5vh;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    border-radius: 0.5rem;
    font-size: inherit;
    background-color: rgb(252, 252, 252);
    color: black;
    outline: none;
    padding: 1.25rem;
}

.form__input:hover {
    border-color: #1da2d2;
}

.form__input:focus {
    border-color: #169FCF;
}

.form__label {
    position: absolute;
    left: 1rem;
    top: 0.6rem;
    padding: 0 0.5rem;
    cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    background-color:  rgb(250, 250, 250);
    color: #7D7D7D;
    border-radius: 0.3rem;
}

#mess{
    display: none;
    align-items: flex-end;
    flex-direction: column;
    position: absolute;
    right: 15.5%;
    top: 15px;
    

}

#seru{
   
    border: 2px solid;
    border-radius: 50%;
 
}

.message{

    width: 300px;
    height: 30px;
    background-color: #e74c3c;
    top: 10px;
    left: 10px;
    z-index: 100;
    position: relative;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: #fceae8;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    opacity: 90%;
    display: none;
    
    
}
.message:hover{
    cursor: default;
}

.boxEr{
    width: 15px;
    height: 15px;
    position: absolute;
    left: 90.8%;
    bottom: 65%;
    background-color: #e74c3c;
    transform: rotate(45deg);
    
}



.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
    top: -0.6rem;
    font-size: 0.8rem;
    left: 0.8rem;
    color: #7D7D7D;
    font-weight: 500;
}

#exampleInputPassword1 {
    width: 71.5%;
    padding: 1.25rem 3.10rem 1.25rem 1.25rem; 
}

.eye {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    top: 1%;
    right: 13.1%;
    background-color: rgb(252, 252, 252);
    width: 10%;
    height: 41%;
    cursor: pointer;
}

@media only screen and (min-width: 200px) and (max-width: 399px) {
    body {
        background-image: url('../../assets/imgcloud/gelombang-removebg-preview.png');
    }

    .content {
        width: 76%;
        height: 120vw;
        background-image: none;
        display: flex;
        justify-content: center;
    }

    .form__input {
        width: 57%;
    }

    #exampleInputPassword1 {
        width: 48%;
    }

    .img-logo {
        width: 17%;
    }

    .form__label {
        font-size: 0.80rem;
    }

    .form__input:focus ~ .form__label,
    .form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
    font-size: 0.75rem;
    }

    button {
        margin-top: 25%;
        width: 72%;
    }

    .input-userpw {
        margin-left: 23%;
    }

    .input-pw {
        margin-top: 24%;
    }

    .eye {
        right: 33%;
    }

    h4 {
        font-size: 1rem;
    }

    hr {
        width: 9vh;
    }
       #seru{
        right: 33.5%;
    }
    
}

@media only screen and (min-width: 400px) and (max-width: 599px) {
    body {
        background-image: url('../../assets/imgcloud/gelombang-removebg-preview.png');
    }

    .content {
        width: 76%;
        height: 85vw;
        background-image: none;
        display: flex;
        justify-content: center;
    }

    .form__input {
        width: 57%;
    }

    #exampleInputPassword1 {
        width: 49%;
    }

    .img-logo {
        width: 17%;
    }

    .form__label {
        font-size: 0.90rem;
    }

    .form__input:focus ~ .form__label,
    .form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
    font-size: 0.75rem;
    }

    button {
        margin-top: 16%;
        width: 67%;
    }

    .input-userpw {
        margin-left: 23%;
    }

    .input-pw {
        margin-top: 17%;
    }

    .eye {
        right: 33%;
    }

    hr {
        width: 11vh;
    }
}

@media only screen and (min-width: 600px) and (max-width: 799px) {
    body {
        background-image: url('../../assets/imgcloud/gelombang-removebg-preview.png');
    }

    .content {
        width: 70%;
        height: 73vw;
        background-image: none;
        display: flex;
        justify-content: center;
    }

    .form__input {
        width: 71%;
    }

    #exampleInputPassword1 {
        width: 64%;
    }

    .img-logo {
        width: 18%;
    }

    button {
        width: 81%;
    }

    .input-userpw {
        margin-left: 18%;
    }

    .input-user,
    .input-pw {
        margin-top: 15%;
    }

    .eye {
        right: 19%;
    }

    hr {
        width: 11vh;
    }
    
}

@media only screen and (min-width: 800px) and (max-width: 999px) {
    body {
        background-image: url('../../assets/imgcloud/gelombang 3.png');
    }

    .content {
        width: 78%;
        height: 61vw;
        background-image: none;
        display: flex;
        justify-content: center;
    }

    .form__input {
        width: 82%;
    }

    #exampleInputPassword1 {
        width: 76%;
    }

    .img-logo {
        width: 19%;
    }

    button {
        width: 90%;
    }

    .input-userpw {
        margin-left: 5%;
    }

    .input-user,
    .input-pw {
        margin-top: 15%;
    }

    .eye {
        right: 9%;
    }
    
}

@media only screen and (min-width: 1000px) and (max-width: 1199px) {
    body {
        background-image: url('../../assets/imgcloud/gelombang 3.png');
    }

    .content {
        width: 62%;
        height: 50vw;
        background-image: none;
        display: flex;
        justify-content: center;
    }

    .form__input {
        width: 92%;
    }

    #exampleInputPassword1 {
        width: 86%;
    }

    .img-logo {
        width: 19%;
    }

    button {
        width: 100%;
    }

    .input-userpw {
        margin-left: 0%;
    }

    .input-user,
    .input-pw {
        margin-top: 14%;
    }

    .eye {
        right: 0%;
    }
 
}

@media only screen and (min-width: 1200px) and (max-width: 1500px) {
    body {
        background-image: url('../../assets/imgcloud/gelombang 2.png');
    }

    .content {
        width: 59%;
        height: 42vw;
        background-image: none;
        display: flex;
        justify-content: center;
    }

    .img-logo {
        width: 19%;
    }

    .form__input {
        width: 92%;
    }

    #exampleInputPassword1 {
        width: 86%;
    }

    button {
        width: 100%;
        margin-top: 13%;
    }

    .input-userpw {
        margin-left: 0%;
    }

    .input-user,
    .input-pw {
        margin-top: 14%;
    }

    .eye {
        right: 0%;
    }
    #seru {
        right: 2.5%;
        border: 1.5px solid;
    }

    #mess{
        right: 3%;
    }
}